doctype html
html
  head
    meta(charset='utf-8')
    title Web Socket Test!
    script(src='https://code.jquery.com/jquery-3.1.0.min.js')
    //-  Latest compiled and minified CSS 
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //-  Latest compiled and minified JavaScript 
    script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
  body
    div(id='content')
    form(id='name_form')
      | Your name:
      input(size='40', type='text', id='name')
      input(type='submit')
    
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script.
      jQuery(function($){
        var socket = io.connect();
        var $nameForm = $('#name_form');
        var $name = $('#name');
        $nameForm.submit(function(e){
          e.preventDefault();
          socket.emit('sent', $name.val());
          $name.val('');
        });
        socket.on('receive', function(data){
        var html = '<h1>Welcome ' + data;
        $('#content').html(html);
        });
      });
